<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psw.quick.compose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickComposeTutorial">

        <activity
            android:name=".ui.activity.ComposeExampleViewModelActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleLaunchEffectActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleCardAndAnimationActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleCheckBoxDropDownMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleAlertBottomSheetActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleScaffoldActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleTextFieldActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleRemeberStateActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleButtonImageActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleTextActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleSourceViewActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleShapeActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleBoxWithConstraintsActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleConstraintsActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />

        <activity
            android:name=".ui.activity.ComposeExampleRowColActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />
        <activity
            android:name=".ui.activity.ComposeExampleBoxActivity"
            android:exported="false"
            android:theme="@style/Theme.QuickComposeTutorial" />
        <activity
            android:name=".XMLActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickComposeTutorial.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>